@model LoginViewModel

@{
    Layout = (string)ViewData["_EmptyLayout"]!;
    ViewData["Title"] = "Login";

    int year = DateTime.Now.Year;
}

@section Styles {
    <style>
        .wrapper {
            height: 100dvh;
            max-height: 100vh;
        }

        .login__wrapper {
            max-width: 28rem;
            background-color: white;
        }

        .login_footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .validate__wrapper ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        .password__eye:hover {
            cursor: pointer;
            color: var(--bs-primary);
        }

    </style>
}

<div class="row gx-0 bg-light wrapper">
    <div class="col-md-3"></div>
    <div class="col-md-6 p-0 h-100 d-flex justify-content-center align-items-center">
        <div class="card w-100 border border-1 rounded-3 shadow-sm login__wrapper">
            <div class="bg-light card-header">
                <h3>@ViewData["Title"]</h3>
            </div>
            <section class="card-body p-4">
                <div class="alert alert-primary py-1 mb-3" role="alert">
                    Continue with <a href="#" class="alert-link">ShieldNet</a>
                </div>
                <form id="account" method="post" asp-asp-area="Identity" asp-asp-controller="Account2" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger validate__wrapper" role="alert"></div>
                    <div class="mb-2">
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <input asp-for="Input.Email" class="form-control form-control-md" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" type="password" class="form-control form-control-md autocomplete password" autocomplete="current-password" aria-required="true" placeholder="password">
                            <div class="bg-light input-group-text justify-content-center password__eye" style="width: 3rem;">
                                <span role="button" class="w-100 h-100"><i class="fas fa-eye"></i></span>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <a id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot your password?</a>
                        </div>
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-md btn-primary rounded-3 login__button mb-2 fw-bold">Login</button>
                    </div>
                    <div class="text-center">
                        <p class="mb-1">
                            Don't have an account?
                            <a asp-area="Identity" asp-page="/Account/Manage/Register" asp-route-returnUrl="@Model.ReturnUrl">Signup</a>
                        </p>
                        <p class="mb-1">
                            <a id="resend-confirmation" asp-area="Identity" asp-page="/Account/ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>

                </form>
            </section>
            <div class="card-footer">
                <section>
                    <h6 class="text-center">Use another service to log in.</h6>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
@section Footer {
    <footer class="login_footer bg-primary py-1 text-white">
        <div class="container">
            <span>&copy; @(year) - ShieldNet</span>
        </div>
    </footer>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            (function ($) {
                const form = $("#account");
                const passwordEye = $(".password__eye");
                passwordEye.on("click", function () {
                    const password = form.find("input.password");
                    if (password.attr("type") === "password") {
                        password.attr("type", "text");
                        passwordEye.find("i").removeClass("fa-eye").addClass("fa-eye-slash");
                    } else {
                        password.attr("type", "password");
                        passwordEye.find("i").removeClass("fa-eye-slash").addClass("fa-eye");
                    }
                });
            })($)
        });
    </script>
}
